.main {width: 600px;}

.direct-payment-form { padding:20px; }

.direct-payment-form .field { padding: 4px; margin:1px; background: #e6e6ff; }

.direct-payment-form .field label { display:inline-block; width:200px; margin-left:5px; }

.direct-payment-form .field input { display:inline-block;}

.direct-payment-form .field input[type=text] { display:inline-block; width: 250px}

.submit-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
    background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
    background-color:#bddbfa;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:100%;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}

.submit-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
    background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
    background-color:#80b5ea;
}

.submit-button:active {
    position:relative;
    top:1px;
}

.submit-div {
    padding-top: 5px;
}